@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /*Padronização Cores*/
    --green-darkest: #2D8A44;
    --green-dark: #40B25C;
    --green-medium: #53CC71;
    --lightest: #E1E7FA;

    --orange-darkest: #80351D;
    --orange-medium: #E36305;
    --orange-light: #FF8861;
    --orange-lightest: #FFA688;

    --alert-default: #E63737;
    --alert-light: #F6CBCB;
    --warning-default: #FFEA7D;
    --warning-light: #FFFFD8;
    --success-default: #008F00;
    --success-light: #DAF4CD;

    --neutral-darkest: #030303;
    --neutral-dark: #40464D;
    --neutral-medium: #9FA3A6;
    --neutral-light: #CFD1D2;
    --neutral-lightest: #E9E9E9;
    --neutral-white: #FFFFFF;

    /* Padronização Font & Typography*/
    --body-font: 'Inter', sans-serif;
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --h4-font-size: 18px;
    --large-paragraph: 16px;
    --medium-paragraph: 14px;
    --small-paragraph: 12px;
    --placeholder: 16px;
     
    /* Padronização Font-Weight */
    --font-semibold: 600;
    --font-medium: 500;
    --font-regular: 400;
    --font-large: 700;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.c-container {
    max-width: 1375px;
    margin: auto;
}

/* Inicio Estilização Header */

.c-header {
    height: 120px;
}

.c-menu__container {
    display: flex;
    justify-content: space-between;
    
    height: 72px;
    align-items: center;
}

.c-menu__logo {
    margin-right: 20px;
}

.c-menu__input{
    min-width: 882px;
    max-width: 882px;
    height: 48px;
    border-radius: 4px;
    font-size: var(--placeholder);
    font-weight: var(--font-medium);
    line-height: 20px;
    padding-left: 20px;
}

.c-menu__button {
    border: none;
    background: none;
    position: relative;
    left: -65px;
    cursor: pointer;
}

.c-menu__item {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 310px;
    position: relative;
    left: -45px;

}

.c-menu__link-number {
    position: relative;
    bottom: 15px;
    right: 15px;
    display: none;
}

.c-menu-cart {
    display: grid;
    position: relative;
    top: 10px
}

.c-menu--counter {
    position: relative;
    bottom: 35px;
    z-index: 1000;
    left: 18px;
    background: var(--orange-medium);
    border-radius:50%;
    Width: 20px;
    text-align: center;
    color: var(--neutral-white);
    
}

.c-nav {
    height: 48px;
    background: var(--neutral-darkest);
    display: grid;
    justify-content: stretch;
    position: relative;
    right: 35px;
}

.c-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.c-nav__link {
    color: var(--neutral-white);
    font-size: var(--medium-paragraph);
    font-weight: var(--font-medium);
    line-height: 20px;
}

/* Inicio Estilização Section 1 */
.c-section__one {
    height: 560px;
}

.c-bread__container {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.c-bread__link {
    font-size: var(--small-paragraph);
    font-weight: var(--font-medium);
    color:var(--neutral-dark);
}

.u-bread--orange {
    color: var(--orange-medium);
}

.c-card__container {
    display: flex;
    justify-content: space-around;
}

.c-product__img {
   margin-right: 100px;
    text-align: center;
}

.c-form__container {
    max-width: 680px;
}

/* Estilização Descrição Produto */

.c-form__container {

}

.c-card__subtitle {
    font-weight: var(--font-semibold);
    color: var(--green-dark);
    font-size: var(--small-paragraph);
    margin-bottom: 8px;
    margin-top: 24px;
}

.c-card__title {
    font-weight: var(--font-semibold);
    font-size:var(--h3-font-size);
    color: var(--neutral-darkest);
    line-height: 28px;
    margin-bottom: 16px;
}

.c-card__content {
    display: flex;
    justify-content: space-between;
}

.c-card__ref {
    font-size:var(--small-paragraph);
    font-weight: var(--font-medium);
    color:var(--neutral-dark);
    line-height: 16px;
}

.c-card__cta {
    text-transform: uppercase;
    color:var(--green-dark);
    font-weight: var(--font-large);
    font-size:var(--small-paragraph);
    line-height: 16px;
}

.c-card__especify-container {
    
    

}

.c-card__subcontainer {
    margin-top: 40px;
}

.c-color__container {
    
}

.c-color__title {
    margin-right: 50px;
    font-size: var(--medium-paragraph);
    font-weight:var(--font-medium);
    line-height: 20px;
}

.c-color__item {
    height: 40px;
    width: 40px;
    border: none;
    margin-top: 10px;
    margin-bottom: 24px;
}

.c-size__title {
    margin-bottom: 10px;
    font-size: var(--medium-paragraph);
    font-weight: var(--font-medium);
    line-height: 20px;
}

.c-size__item {
    padding: 24px;
    font-size: var(--medium-paragraph);
    font-weight: var(--large-paragraph) bold;
    margin-right: 12px;
    border: 1px solid var(--neutral-light);
    background: none;
    border-radius: 5px;
}

.c-size__item:disabled {
    background-color: var(--neutral-lightest);
}

.c-shipping__container {
    margin-top: 76px;
    display: flex;
    align-items: center;
    gap: 34px;
}

.c-shipping__tittle {
    padding-bottom: 5px;
    font-size:var(--medium-paragraph);
    font-weight: var(--font-semibold);
    line-height: 20px;;
}

.c-shipping__text {
    padding-bottom: 8px;
    font-size: var(--small-paragraph);
    font-weight: var(--font-medium);
    color:var(--neutral-dark)
}

.c-shipping__cta {
    color:var(--green-dark);
    font-weight: var(--font-semibold);
    font-size: var(--small-paragraph);
}


.c-card__payment {
    position: relative;
    top: -320px;
    left: 380px;
    max-width: 340px;
}

.c-payment__value {
    color: var(--neutral-darkest);
    font-weight: var(--font-semibold);
    font-size: var(--h2-font-size);
    line-height: 32px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.c-payment__discount {
    font-size: var(--medium-paragraph);
    font-weight: var(--font-medium);
    line-height: 20px;
    color:var(--neutral-medium);
    margin-left: 24px;
}

.c-payment__container {
    display: flex;
    gap: 7px;
    align-items: center;
}

.c-payment__cta {
    font-size:var(--small-paragraph);
    font-weight: var(--font-large);
    color:var(--alert-default);
    line-height: 16px;
    background-color: var(--alert-light);
    padding: 0px 4px;
    border-radius: 4px;
}

.c-cart__container {
    display: flex;
    margin-top: 26px;
}

.c-button__plus-count {
    border: none;
    background: none;
    position: relative;
    right: 120px;
    bottom: 4px;
}

.c-button__deduct-count {
    border: none;
    background: none;
    position: relative;
    right: 50px;
    top: 3px;
}

.c-cart__amount {
    width: 128px;
    height: 48px;
    text-align: center;
    font-size: var(--large-paragraph);
    font-weight: var(--font-medium);
    line-height: 20px;
    align-self: flex-start;
    margin-left: 24px;
}

.c-cart__stock {
    font-size: var(--small-paragraph);
    font-weight: var(--font-medium);
    line-height: 16px;
    color: var(--neutral-darkest);
}

.u-stock--red {
    color:var(--alert-default);
    font-weight: var(--font-semibold);
    margin-top: 8px;
}

.c-button__cart {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    text-align: center;
    
}

.c-cart--espc {
    max-width: 267px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    height: 56px;
    color:var(--neutral-white);
    font-weight: var(--font-large);
    line-height: 24px;
    margin-left: 24px;
}

.c-cart__add {
    background:var(--green-dark);
    margin-bottom: 8px;
}

.c-cart__buy {
    background:var(--orange-medium);
    margin-bottom: 24px;
}

.c-cart__shipped {
    font-weight: var(--font-medium);
    font-size: var(--small-paragraph);
    line-height: 16px;
    color: var(--neutral-dark);
}

/* Estilização section 2*/

.c-section__two {
    margin-top: 64px;
}

.c-customers__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.c-customers__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    line-height: 28px;
    color:var(--neutral-darkest);
}

.c-customers__cta {
    font-size: var(--small-paragraph);
    font-weight: var(--font-large);
    line-height: 16px;
    color: var(--green-dark);
    text-transform: uppercase;
}

.c-customers__item {
    display: flex;
    list-style: none;
    gap: 16px;
}

.c-customers__link {
    max-width: 216px;
}

.c-product__title {
    font-size: var(--medium-paragraph);
    font-weight: var(--font-regular);
    color: var(--neutral-darkest);
    line-height: 20px;
    margin-bottom: 12px;
}

.c-product__old-price {
    font-size: var(--small-paragraph);
    font-weight: var(--font-medium);
    line-height: 16px;
    color: var(--neutral-medium);
    margin-bottom: 4px;
    text-decoration-line: line-through;
}

.c-product__price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    line-height: 24px;
    color: var(--neutral-darkest);
    margin-bottom: 4px;
}

.c-product__payment {
    font-size: var(--medium-paragraph);
    font-weight: var(--font-medium);
    color:var(--neutral-dark);
    line-height: 20px;
    margin-bottom: 24px;
}

.c-product__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 35px;
}

.c-product__cta1 {
    font-size: var(--small-paragraph);
    font-weight: var(--font-large);
    color: var(--neutral-white);
    background-color: var(--alert-default);
    flex-grow: 1;
    border-radius: 4px;
    padding: 0 4px;
    margin-bottom: 2px;
}

.c-arrow__left {
    position: relative;
    top: 240px;
    right: 15px;
    z-index: 1000;
}

.c-arrow__left:hover {
    border: 2px solid var(--neutral-medium);
    border-radius: 50%;
}

.c-arrow__right {
    position: relative;
    left: 1260px;
    top: 240px;
}

.c-arrow__right:hover {
    border: 2px solid var(--neutral-medium);
    border-radius: 50%;
}

.c-customers--position {
    position: relative;
    bottom: 32px;
}

.c-product--space {
    margin-bottom: 32px;
}

/* Estilização section 3 */

.c-section__three {
    margin-bottom: 88px;
}

/* Estilização section 4*/

.c-img__departaments {
    margin-bottom: 64px;
}

.c-espec__container {
    margin-bottom: 64px;
}

.c-espec__title {
    padding-top: 64px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    line-height: 28px;
    color: var(--neutral-darkest);
}

.c-espec__subtitle {
    
    font-size: var(--small-paragraph);
    font-weight: var(--font-semibold);
    line-height: 16px;
    color: var(--neutral-darkest);
}

.c-espec__product {
    font-size: var(--medium-paragraph);
    font-weight: var(--font-regular);
    line-height: 18px;
    color: var(--neutral-dark);
}

.c-espec__link {
    font-weight: var(--font-semibold);
    color: initial;
}

/* Estilização section 5*/

.c-email__container {
    max-width: 1440px;
    width: 100%;
    height: 112px;
    background-color:var(--green-dark);
    display: grid;
    align-items: center;
    justify-items: center;
}

.c-email__img-mail {
    position: relative;
    left: 520px;
    top: 10px;
}

.c-email__text {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semibold);
    color: var(--neutral-white);
    line-height: 40px;
    margin-right: 64px;
}

.c-email__input {
    width: 561px;
    font-weight: var(--font-medium);
    font-size: var(--large-paragraph);
    line-height: 20px;
    color:var(--neutral-medium);
    padding: 14px 0px 14px 64px;
    border-radius: 4px;
    border: none;
}

.c-email__submit {
    background: var(--orange-medium);
    border: none;
    color: var(--neutral-white);
    font-size: var(--medium-paragraph);
    font-weight: var(--font-large);
    line-height: 24px;
    padding: 12px 32px;
    border-radius: 4px; 
}

/* Estilização Footer */ 

.c-footer__container {
    height: 634px;
    background: var(--neutral-darkest);
    max-width: 1440px;
}

.c-footer__content {
    display: flex;
    
    gap: 100px;
}

.c-footer__box1 {
    height: 326px;
    margin-left: 32px;
    width: 350px;
}

.c-footer__subtitle {
    color: var(--neutral-white);
    margin-top: 48px;
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
    margin-bottom: 22px;
}

.c-footer__item {
    display: flex;
    gap: 100px;
}

.c-footer__div {
    display: flex;
    flex-direction: column;
}

.c-footer__div2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.c-footer__link {
    color: var(--neutral-light);
    font-size: var(--font-regular);
    font-weight: var(--font-medium);
    line-height: 20px;
    margin-bottom: 14px;
}